[submodule "pelican-bootstrap3"]
	path = pelican-bootstrap3
	url = https://github.com/fabiofortkamp/pelican-bootstrap3.git
	branch = dev
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
	branch = master
